api/bert/model/pytorch_model.bin
__pycache__/
/.env
/.DS_Store

api/word2vec/model.vec
api/__pycache__/__init__.cpython-38.pyc
api/bert/__pycache__/__init__.cpython-38.pyc
api/bert/__pycache__/bert.cpython-38.pyc
api/mecab/__pycache__/__init__.cpython-38.pyc
api/routers/__pycache__/__init__.cpython-38.pyc
api/routers/__pycache__/bert.cpython-38.pyc
api/routers/__pycache__/mecab.cpython-38.py
api/schemas/__pycache__/__init__.cpython-38.pyc
api/schemas/__pycache__/bert.cpython-38.pyc
api/schemas/__pycache__/mecab.cpython-38.pyc